bin/
build/
build_gcc/
data/
data_double_layer/
data_vdist_1d/
data_vdist_2d/
img/
lib/
.ipynb_checkpoints/
*.exec
diffusion[0-9].sh
outfile
*.map
./FLAP
./mt_stream
backup
slurm*
diffusion[0-9]*.sh
conf[0-9]*.dat
start-gr[0-9]
*.pyc
.vscode
